body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: rgb(71, 71, 71);
  margin: 0;
}

.navbar {
  font-family: "dosis";
  font-weight: 600;
  font-size: 15px;
  position: sticky;
}
.nav1 {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 180px;
  color: #fff;
  background-color: rgb(255, 42, 107);
}
.displayName img {
  width: 20px;
  height: 23px;
  margin-left: 10px;
  /* height: auto; */
  /* aspect-ratio: 1/1; */
  object-fit: contain;
}
.social-media-icons-nav {
  display: flex;
  gap: 20px;
}
.displayName {
  display: flex;
  justify-content: center;
  align-items: center;
}
.displayName img:hover {
  cursor: pointer;
}
.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 180px;
  font-weight: 600;
  font-size: 30px;
  height: 80px;
  background-color: white;
}
.links-navbar {
  display: flex;
  justify-content: space-around;
  gap: 90px;
  font-size: 15px;
}
.nav2 img {
  width: 20px;
}
.navbar-link {
  color: #000;
  text-decoration: none;
  transition: ease-in-out 300ms;
}
.navbar-link:hover {
  cursor: pointer;
  color: rgb(255, 42, 107);
}
.navbar-link:visited {
  text-decoration: none;
}

.fav {
  position: relative;
}
.fav:hover ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style: none;
  background-color: white;
  padding: 10px 10px;
  gap: 10px;
  position: absolute;
}
.fav ul {
  display: none;
}
/* .fav ul:hover {
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style: none;
  background-color: white;
  padding: 10px 10px;
  gap: 10px;
} */
.fav ul li {
  display: flex;
  gap: 10px;
  align-items: center;
}
.fa-trash-o {
  padding: 4px;
  background-color: white;
  color: red;
  border: solid red 1px;
  border-radius: 5px;
  transition-duration: 500ms;
}
.fa-trash-o:hover {
  cursor: pointer;
  background-color: red;
  color: white;
  border: solid red 1px;
}
.recIntro {
  background-image: url("../images/page-top-bg.jpg.webp") !important;
  text-align: center;
  padding: 30px;
}

.recIntro h2 {
  display: inline;
  color: #ffffff;
  background-color: rgb(255, 42, 107);
  padding: 5px 30px;
  font-size: 4rem;
  border-radius: 4px;
}

.filters {
  background-color: rgb(255, 42, 107);
  margin: 0 8rem;
  margin-top: 5rem;
  padding: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#downIcon {
  height: 10px;
  width: 10px;
}

.settings {
  position: absolute;
  top: 20px;
  left: 20px;
}

.settingsIcon {
  height: 25px;
  padding: 5px 5px;
  border-radius: 50px;
  z-index: 100;
  background-color: white;
}

.settings-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
}

.settings-content {
  border-radius: 20px;
}

.settings-content h4 {
  color: rgb(71, 71, 71);
  padding: 0px 16px;
}

.settings-content h4:hover {
  background-color: #eee;
  cursor: pointer;
}

.settings:hover .settings-content {
  display: block;
}

select {
  border: none;
  display: inline;
  background-color: #ffffff;
  color: #6d6d6d;
  padding: 0.3rem;
  font-style: italic;
  font-size: 16px;
  font-weight: 500;
}
select:focus {
  border: solid 1px black;
  outline: none;
}

option {
  background-color: #ffffff;
}

#search {
  padding: 1rem;
  flex: 7;
  border: none;
  display: inline;
  background-color: #ffffff;
  color: rgb(71, 71, 71);
  font-style: italic;
  font-size: 16px;
}

#search:focus {
  border: none;
  outline: none;
  background-color: #ffffff;
  color: rgb(71, 71, 71);
  font-style: italic;
}

#searchBtn {
  flex: 1;
  background-color: rgb(71, 71, 71);
  color: #ffffff;
  border: none;
  padding: 0 2rem;
  font-size: 16px;
}
#searchBtn:hover {
  cursor: pointer;
  background-color: rgb(71, 71, 71, 0.8);
}

.overline {
  height: 5px;
  width: 60px;
  background-color: rgb(255, 42, 107);
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.latestTitle {
  margin-top: 5rem;
  margin-left: 10rem;
  position: relative;
  display: flex;
  flex-direction: row;
}

.addRcp {
  background: rgb(255, 42, 107);
  border: none;
  padding: 10px;
  font-family: inherit;
  color: #ffffff;
  border-radius: 50px;
  margin-left: 2rem;
  align-self: center;
  font-size: 24px;
  font-weight: 600;
}

.addRcp:hover {
  cursor: pointer;
  background: rgb(255, 42, 107, 0.7);
}

section {
  gap: 2rem;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.leftSide {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.settings {
  position: absolute;
  top: 20px;
  left: 20px;
}

.settingsIcon {
  /* height: 25px; */
  padding: 5px 5px;
  border-radius: 50px;
  z-index: 100;
  background-color: white;
}

.settings-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
}

.settings-content {
  border-radius: 20px;
}

.settings-content h4 {
  color: rgb(71, 71, 71);
  padding: 0px 16px;
}

.settings-content h4:hover {
  background-color: #eee;
  cursor: pointer;
}

.settings:hover .settings-content {
  display: block;
}

textarea {
  font-family: "Poppins", sans-serif;
  color: rgb(71, 71, 71);
  resize: none;
}

.rightSide img {
  border-radius: 10px;
}
.rightSide {
  position: relative;
  padding-top: 200px;
}

.edit {
  margin: 2rem 0 4rem;
  gap: 4rem;
  display: flex;
  justify-content: center;
}

.edit button {
  border-radius: 10px;
  padding: 1rem;
  font-weight: 700;
}

.edit button:nth-child(1) {
  background-color: #ffffff;
  border: solid 1px black;
}

.edit button:nth-child(2) {
  border: solid 0.5px black;
  background-color: rgb(255, 42, 107);
}

.edit button {
  padding: 1rem;
  border: none;
}

.cancelBtn:hover,
.cancelBtn2:hover,
.addRcpbtn:hover,
.editRcpbtn:hover {
  cursor: pointer;
}

.custAlert,
.custAlert2 {
  display: none;
  position: fixed;
  padding: 20px;
  top: 10%;
  left: 20%;
  z-index: 100;
  background-color: rgb(255, 42, 107, 0.7);
  border-radius: 20px;
}

.latestTitle h2 {
  font-weight: 700;
  font-size: 36px;
}

.recipeGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 20px 20px;
}

.recipeTile {
  display: block;
  position: relative;
}
.recipeTile img {
  width: 392px;
  height: 300px;
}

.desc {
  position: absolute;
  bottom: 6px;
  left: 0px;
  height: 50px;
  width: 300px;
  background-color: rgb(255, 42, 107);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  text-align: start;
  padding: 20px 0 0 20px;
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.preFooter {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}
.preFooter img {
  height: 253.2px;
}
