body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: rgb(71, 71, 71);
  margin: 0;
}

.recIntro {
  background-image: url("../images/page-top-bg.jpg.webp") !important;
  text-align: center;
  padding: 30px;
}

.recIntro h2 {
  display: inline;
  color: #ffffff;
  background-color: rgb(255, 42, 107);
  padding: 5px 30px;
  font-size: 4rem;
  border-radius: 4px;
}

.filters {
  background-color: rgb(255, 42, 107);
  margin: 0 8rem;
  margin-top: 5rem;
  padding: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#downIcon {
  height: 10px;
  width: 10px;
}

.settings {
  position: absolute;
  top: 20px;
  left: 20px;
}

.settingsIcon {
  height: 25px;
  padding: 5px 5px;
  border-radius: 50px;
  z-index: 100;
  background-color: white;
}

.settings-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
}

.settings-content {
  border-radius: 20px;
}

.settings-content h4 {
  color: rgb(71, 71, 71);
  padding: 0px 16px;
}

.settings-content h4:hover {
  background-color: #eee;
  cursor: pointer;
}

.settings:hover .settings-content {
  display: block;
}

select {
  flex: 3;
  border: none;
  display: inline;
  background-color: #ffffff;
  color: #6d6d6d;
  padding: 1rem;
  font-style: italic;
  font-size: 16px;
  font-weight: 500;
}
select:focus {
  border: none;
  outline: none;
}

option {
  background-color: #ffffff;
}

#search {
  padding: 1rem;
  flex: 7;
  border: none;
  display: inline;
  background-color: #ffffff;
  color: rgb(71, 71, 71);
  font-style: italic;
  font-size: 16px;
}

#search:focus {
  border: none;
  outline: none;
  background-color: #ffffff;
  color: rgb(71, 71, 71);
  font-style: italic;
}

#searchBtn {
  flex: 1;
  background-color: rgb(71, 71, 71);
  color: #ffffff;
  border: none;
  padding: 0 2rem;
  font-size: 16px;
}
#searchBtn:hover {
  cursor: pointer;
  background-color: rgb(71, 71, 71, 0.8);
}

.overline {
  height: 5px;
  width: 60px;
  background-color: rgb(255, 42, 107);
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.latestTitle {
  margin-top: 5rem;
  margin-left: 10rem;
  position: relative;
  display: flex;
  flex-direction: row;
}

.addRcp {
  background: rgb(255, 42, 107);
  border: none;
  padding: 10px;
  font-family: inherit;
  color: #ffffff;
  border-radius: 50px;
  margin-left: 2rem;
  align-self: center;
  font-size: 24px;
  font-weight: 600;
}

.addRcp:hover {
  cursor: pointer;
  background: rgb(255, 42, 107, 0.7);
}

.latestTitle h2 {
  font-weight: 700;
  font-size: 36px;
}

.recipeGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 20px 20px;
}

.recipeTile {
  display: block;
  position: relative;
}
.recipeTile img {
  width: 392px;
}

.desc {
  position: absolute;
  bottom: 6.5px;
  left: 0px;
  height: 50px;
  width: 300px;
  background-color: rgb(255, 42, 107);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  text-align: start;
  padding: 20px 0 0 20px;
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
}

.preFooter {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}
.preFooter img {
  height: 253.2px;
}
