body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: rgb(71, 71, 71);
  margin: 0;
}
.navbar {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 15px;
  position: sticky;
}
.nav1 {
  height: 40px;
  display: flex;
  font-family: "Dosis", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 10px 180px;
  color: #fff;
  background-color: rgb(255, 42, 107);
}
.login-reg img {
  width: 20px;
  height: 23px;
  margin-left: 10px;
  /* height: auto; */
  /* aspect-ratio: 1/1; */
  object-fit: contain;
}
.social-media-icons-nav {
  display: flex;
  gap: 20px;
}
.login-reg {
  display: flex;
  align-items: center;
}
.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 180px;
  font-weight: 600;
  font-size: 30px;
  height: 80px;

  background-color: #ffffff;
}
.links-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 90px;
  font-size: 15px;
}
.nav2 img {
  width: 20px;
}
.navbar-link {
  text-decoration: none;
  font-family: "Dosis", sans-serif;
  color: rgb(71, 71, 71);
  transition: ease-in-out 300ms;
}
.navbar-link:hover {
  cursor: pointer;
  color: rgb(255, 42, 107);
}
.recIntro {
  background-image: url("../images/page-top-bg.jpg.webp") !important;
  text-align: center;
  padding: 30px;
}
.navbar-link .favList {
  display: none;
}
h5 .fav:hover .favList {
  position: absolute;
  display: flex;
  padding-right: 20px;
  background: white;
}

.favList ul {
  align-items: flex-start;
  justify-content: flex-start;
  list-style-type: none;
}

.recIntro h2 {
  display: inline;
  color: #ffffff;
  background-color: rgb(255, 42, 107);
  padding: 5px 30px;
  font-size: 4rem;
  border-radius: 4px;
}

section {
  gap: 4rem;
  padding: 4rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.leftSide {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.rightSide img {
  border-radius: 10px;
}

.preFooter {
  display: flex;
  flex-direction: row;
}
.preFooter img {
  height: 253.2px;
}
