body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: rgb(71, 71, 71);
  margin: 0;
}

.recIntro {
  background-image: url("../images/page-top-bg.jpg.webp") !important;
  text-align: center;
  padding: 30px;
}

.recIntro h2 {
  display: inline;
  color: #ffffff;
  background-color: rgb(255, 42, 107);
  padding: 5px 30px;
  font-size: 4rem;
  border-radius: 4px;
}

.filters {
  background-color: rgb(255, 42, 107);
  margin: 0 8rem;
  margin-top: 80px;
  padding: 40px;
  display: flex;
  /* gap: 20px; */
  flex-direction: row;
  justify-content: space-between;
}

#downIcon {
  height: 10px;
  width: 10px;
}

.categoryBtn,
.ingredientsBtn {
  background-color: #ffffff;
  color: rgb(71, 71, 71);
  padding: 16px 20px;
  padding-right: 150px;
  font-size: 16px;
  border: none;
  text-align: start;
  cursor: pointer;
  font-style: italic;
  display: flex;
  gap: 10px;
  align-items: center;
}

.category,
.ingredients {
  position: relative;
  display: inline-block;
}

.cat-content,
.ing-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
}

.cat-content h4,
.ing-content h4 {
  color: rgb(71, 71, 71);
  padding: 0px 16px;
}

.cat-content h4:hover,
.ing-content h4:hover {
  background-color: #eee;
  cursor: pointer;
}

.category:hover .cat-content,
.ingredients:hover .ing-content {
  display: block;
}

#search {
  border: none;
  display: inline;
  background-color: #ffffff;
  color: rgb(71, 71, 71);
  padding: 16px 18px;
  padding-right: 200px;
  font-style: italic;
  font-size: 16px;
}

#search:focus {
  border: none;
  outline: none;
  background-color: #ffffff;
  color: rgb(71, 71, 71);
  padding: 20px;
  font-style: italic;
}

#searchBtn {
  background-color: rgb(71, 71, 71);
  color: #ffffff;
  border: none;
  padding: 0 40px;
  font-size: 16px;
}

.overline {
  height: 5px;
  width: 60px;
  background-color: rgb(255, 42, 107);
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.latestTitle {
  margin-top: 80px;
  margin-left: 10rem;
  position: relative;
}

.latestTitle h2 {
  padding-top: 10px;
  font-weight: 700;
  font-size: 36px;
}

.recipeGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 20px 20px;
}

.recipeTile {
  display: block;
  position: relative;
}
.recipeTile img {
  width: 392px;
}

.desc {
  position: absolute;
  bottom: 6.5px;
  left: 0px;
  height: 50px;
  width: 300px;
  background-color: rgb(255, 42, 107);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  text-align: start;
  padding: 20px 0 0 20px;
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
}

.preFooter {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}
.preFooter img {
  height: 253.2px;
}
